---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

// import ContactCTA from '../../components/ContactCTA.astro';
import Hero from "../../components/Hero.astro";
// import Icon from '../../components/Icon.astro';
import Pill from "../../components/Pill.astro";

interface Props {
  entry: CollectionEntry<"work">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
  const work = await getCollection("work");
  return work.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <div class="stack flex flex-col">
    <div class=" gap-15 flex flex-col">
      <header class="content">
        <div class="wrapper stack gap-2 p-2">
          <Hero title={entry.data.title} align="start">
            <div class="details">
              <div class="tags">
                {
                  entry.data.tags.map((t) => (
                    <div class="badge badge-lg semi-bold badge-outline badge-primary gap-2 p-4">

                      <Pill>{t}</Pill>
                    </div>
                  ))
                }
              </div>
              <p class="description">{entry.data.description}</p>
            </div>
          </Hero>
        </div>
      </header>
      <main class="wrapper">
        <div class=" content flex flex-col justify-self-center">
          {
            entry.data.img && (
              <img
                class="rounded-3xl w-full"
                src={entry.data.img}
                alt={entry.data.img_alt || ""}
              />
            )
          }
          <div class="content custom">
            <Content />
          </div>
        </div>
      </main>
    </div>
    <!-- <ContactCTA /> -->
  </div>
</BaseLayout>
<!-- -->
<style>
  header {
    /*padding-bottom: 2.5rem;*/
    border-bottom: 2px solid #283044;
    /*display: block;*/
  }

  .back-link {
    display: none;
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .tags {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    font-weight: bold;
  }

  .description {
    padding: 1rem;
    max-width: 100ch; /* 54 */
    margin: 0.5rem 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #f8f8f8;

  }

  .content {
    max-width: 100ch; /* 64 */
    margin-inline: auto;
  }

  .content :global(h5),
  .content :global(h3),
  .content :global(h4),
  .content :global(h2) {
    margin: 1.5rem 0 0.5rem 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #f3f4f7;
  }

  .content :global(h1){
    margin: 2.5rem 0 0 0;
    font-size: 4rem;
    font-weight: bold;
    color: #f3f4f7;
    text-align: center;
  }
  
  .custom :global(p){
    margin: 0.5rem 0;
    font-size: 1.6rem;
  }

  .custom :global(ul){
    margin: 0.5rem 0;
    font-size: 1.6rem;
    text-decoration: solid;
  }


  .content :global(img) {
    border-radius: 1.5rem;
    /*box-shadow: var(--shadow-sm);
	background: var(--gradient-subtle);*/
    border: 1px solid; /*var(--gray-800);*/
    max-width: 100%;
    padding: 0.5rem;
margin: 2rem 0;
  }

  .content :global(blockquote) {
    font-size: 1.625rem;
    font-family: var(--font-brand);
    font-weight: 600;
    line-height: 1.1;
    padding-inline-start: 1.5rem;
    border-inline-start: 0.25rem solid var(--accent-dark);
    color: var(--gray-0);
  }

  .back-link,
  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .back-link:hover,
  .back-link:focus,
  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .back-link {
      display: block;
      align-self: flex-start;
    }

    .details {
      flex-direction: raw;
      gap: 2.5rem;
    }

    .content :global(blockquote) {
      font-size: 2.125rem;
    }
  }
</style>
